.container {
    position: relative;
    text-align: center;
    color: white;
}

.top-right {
    position: absolute;
    top: 0;
    right: 1%;
    
}

.centered {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
}

.bottom-center {
    position: absolute;
    bottom: 0;
    left: 50%;
    top: 80%;
    transform: translateX(-50%);
    font-size: xx-large;
}

    

